:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: #ffffff;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}



h1 {
  margin-bottom: 0.6em;
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.view-btns{
 display: flex;
 justify-content: center;
 margin-bottom:40px ; 
}
.view-btns button:nth-child(1){
  border-radius: 6px 0 0 6px;
}
.view-btns button:nth-child(2){
  border-radius: 0 6px 6px 0;
}
.active{
  color: #ffffff;
  background: #535bf2;
  outline: #747bff;
}

/* map setting  */
.leaflet-container{
  width: 100%;
  height: 80vh;
}

.td-btn{
  width: 80px;
  height: 40px;
  display: flex;
  text-align: center;
}
/* styles.css */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 9999;
}

.popup-content {
  height: 100vh;
  border-radius: 8px;
  color: #ffffff;
  background-color: rgb(39, 38, 38);
  margin: 80px 10px;
  max-width: 400px;
  position: relative; /* Required for positioning the close button */
  box-shadow: 10px 10px 10px  rgba(58, 37, 143, 0.5);
}
.content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.content-p{
  width: 400px;
  padding: 20px;
}
.img-content{
  border-radius: 6px;
  box-shadow: 10px 10px 10px  rgba(0, 0, 0, 0.5);
}

.close-button {
  font-weight: bolder;
  font-size: larger;
  color: #ffffff;
  background-color: #535bf2;
  width: 100%;
  top: 0px;
  right: 0px;
}
